<?

	// ultrasonic configuration directives
	// basically, just set up the database
	// the Config class will handle everything thereafter

	// The database type. Any type supported by adodb is allowed
	// (mysql, postgres, oracle, sqlite, mssql, etc.)
	$_CONFIG['Database']['Type'] = 'sqlite';

	// Server hosting your database. For sqlite this is the database filename
	$_CONFIG['Database']['Server'] = '/var/lib/ultrasonic/database.sqlite';

	// Login and password not required for sqlite
	$_CONFIG['Database']['Login'] = '';
	$_CONFIG['Database']['Password'] = '';

	// Database name.
	$_CONFIG['Database']['Database'] = '';

	// Please ensure no empty lines after the closing php marker
?>